.searchContent, .badRequest {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    row-gap: 1rem;
}
.notFound {
    display: none;
}
.foundArtists, .foundTracks {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}